{% for account in accounts_list %}
    {# @var account \TestTaskBundle\Entity\Account #}
    <tr>
        <td>{{ account.account }}</td>
        <td>{{ account.added|date('d.m.y') }}</td>
        <td>
            <a class="del_account" href="#" data-href="{{ path('test_task_del_account', {'accountId': account.id}) }}">Удалить</a>
        </td>
    </tr>
{% endfor %}