<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Test task{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets '@bootstrap_css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% javascripts
            "@jquery_js"
            "@bootstrap_js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
